<h1>FORULARIO - EJS</h1>

<form
  id="form"
  action="productos"
  method="POST"
  enctype="application/x-www-form-urlencoded"
>
  <div>
    <label for="title">PRODUCTO:</label>
    <input id="title" type="text" name="title" />
  </div>
  <div>
    <label for="price">PRECIO:</label>
    <input id="price" type="number" name="price" />
  </div>
  <div>
    <label for="thumbnail">IMAGEN:</label>
    <input id="thumbnail" type="text" name="thumbnail" />
  </div>
  <button type="submit">GUARDAR PRODUCTO</button>
</form>